@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --color-grey: #eae6e1;
  --color-peach: #f6e3d2;
  --color-light: #fcf3eb;
  --color-green: #7e7b46;
  --color-brown: #583b1f;
  --radius: 0.625rem;
  --background: var(--color-light);
  --foreground: var(--color-brown);
  --card: var(--color-peach);
  --card-foreground: var(--color-brown);
  --popover: var(--color-peach);
  --popover-foreground: var(--color-brown);
  --primary: var(--color-green);
  --primary-foreground: var(--color-light);
  --secondary: var(--color-grey);
  --secondary-foreground: var(--color-brown);
  --muted: var(--color-grey);
  --muted-foreground: var(--color-brown);
  --accent: var(--color-peach);
  --accent-foreground: var(--color-brown);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--color-grey);
  --input: var(--color-grey);
  --ring: var(--color-green);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: var(--color-peach);
  --sidebar-foreground: var(--color-brown);
  --sidebar-primary: var(--color-green);
  --sidebar-primary-foreground: var(--color-light);
  --sidebar-accent: var(--color-peach);
  --sidebar-accent-foreground: var(--color-brown);
  --sidebar-border: var(--color-grey);
  --sidebar-ring: var(--color-green);
}

/* This looks like shit but it's not being used */
.dark {
  --background: var(--color-brown);
  --foreground: var(--color-light);
  --card: var(--color-green);
  --card-foreground: var(--color-light);
  --popover: var(--color-green);
  --popover-foreground: var(--color-light);
  --primary: var(--color-peach);
  --primary-foreground: var(--color-brown);
  --secondary: var(--color-grey);
  --secondary-foreground: var(--color-light);
  --muted: var(--color-grey);
  --muted-foreground: var(--color-light);
  --accent: var(--color-green);
  --accent-foreground: var(--color-light);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--color-peach);
  --input: var(--color-peach);
  --ring: var(--color-peach);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: var(--color-green);
  --sidebar-foreground: var(--color-light);
  --sidebar-primary: var(--color-peach);
  --sidebar-primary-foreground: var(--color-brown);
  --sidebar-accent: var(--color-green);
  --sidebar-accent-foreground: var(--color-light);
  --sidebar-border: var(--color-peach);
  --sidebar-ring: var(--color-peach);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
